div#Principal{
  display: block;
  min-height: 438px;
}

div.Form{
  margin:0 auto;
  background-color: white;
  height: 280px;
  width: 350px;
  padding-top:10px;
  border: solid;
  border-color: green;
  border-radius: 8px;
  font-weight: bold;
}

form.Formulario{
  background-color: white;
  text-align: center;
  border: solid;
  border-color: green;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  padding: 5px;
  font-size: 18px;
  font-family: "Calibri";
}

div.Form form.Formulario input.Guardar:hover{
  background-color: green;
  color: white;
}

div.Form form.Formulario input{
  border: solid;
  border-color: green;
  border-radius: 8px;
}

div.Form form.Formulario select{
  border: solid;
  border-color: green;
  border-radius: 8px;
}

div#Pie{
display: block;
  background-color: green;
  color: #CCC;
  text-align: center;
 padding-right: 220px;
  padding-left: 170px;
  margin-bottom: -16px;
  margin-right: 0px;
  margin-left: -8px;

}