div#Principal{
  display: block;
  min-height: 532px;
}

div.Tabla{
  margin: 0 auto;
  position: center;
  background-color: white;
  height: 350px;
  width: 1000px;
  padding-top:30px;
  border: solid;
  border-color: green;
  border-radius: 8px;
  font-weight: bold;
}

td, th {
  font-family: "Helvetica";
  border: black 1px solid;
}

table.Lista{
  background-color: white;
  margin: 0 auto;
  text-align: center;
  align-content: center;
  height: 280px;
  width: 95%;
  border: solid;
  border-radius: 5px;
  border-color: green;
}
table caption.titulo{
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 22px;
  color: green;
	background-color: white;
  margin: 0 auto;
  text-align: center;
  align-content: center;
  border: solid;
  border-radius: 5px;
  border-color: green;
  padding: 10px;
}

table tr.Fila1{
	background-color: #A0E470;
	color: black
}

div.Tabla table.Lista tr td a{
  display: inline-block;
  background-color: green;
  color:white;
  font-family: "Calibri";
  font-size: 15px;
  text-decoration:none;
  border-radius: 5px;
  padding: 3px;
}

div#Pie{
display: block;
  background-color: green;
  color: #CCC;
  text-align: center;
    padding-right: 340px;
  padding-left: 360px;
  margin-bottom: -16px;
  margin-right: 0px;
  margin-left: -8px;

}