div.mensaje{
  background-color: red; 
  color: white;
  text-align: center;
  margin: 0 auto;
  font-size: 19px;
  margin-left: 425px;
margin-right: 425px;
font-weight: bold;
font-family: "Helvetica"; }